
machine_learning/.ipynb_checkpoints/first_ml_test-checkpoint.ipynb
spectral_Data/all_729_configuration.txt
spectral_Data/all_729_configuration.txt~
spectral_Data/spectras/spectrum0.pl
spectral_Data/spectras/spectrum1.pl
spectral_Data/spectras/spectrum10.pl
spectral_Data/spectras/spectrum100.pl
spectral_Data/spectras/spectrum101.pl
spectral_Data/spectras/spectrum102.pl
spectral_Data/spectras/spectrum103.pl
spectral_Data/spectras/spectrum104.pl
spectral_Data/spectras/spectrum105.pl
spectral_Data/spectras/spectrum106.pl
spectral_Data/spectras/spectrum107.pl
spectral_Data/spectras/spectrum108.pl
spectral_Data/spectras/spectrum109.pl
spectral_Data/spectras/spectrum11.pl
spectral_Data/spectras/spectrum110.pl
spectral_Data/spectras/spectrum111.pl
spectral_Data/spectras/spectrum112.pl
spectral_Data/spectras/spectrum113.pl
spectral_Data/spectras/spectrum114.pl
spectral_Data/spectras/spectrum115.pl
spectral_Data/spectras/spectrum116.pl
spectral_Data/spectras/spectrum117.pl
spectral_Data/spectras/spectrum118.pl
spectral_Data/spectras/spectrum119.pl
spectral_Data/spectras/spectrum12.pl
spectral_Data/spectras/spectrum120.pl
spectral_Data/spectras/spectrum121.pl
spectral_Data/spectras/spectrum122.pl
spectral_Data/spectras/spectrum123.pl
spectral_Data/spectras/spectrum124.pl
spectral_Data/spectras/spectrum125.pl
spectral_Data/spectras/spectrum126.pl
spectral_Data/spectras/spectrum127.pl
spectral_Data/spectras/spectrum128.pl
spectral_Data/spectras/spectrum129.pl
spectral_Data/spectras/spectrum13.pl
spectral_Data/spectras/spectrum130.pl
spectral_Data/spectras/spectrum131.pl
spectral_Data/spectras/spectrum132.pl
spectral_Data/spectras/spectrum133.pl
spectral_Data/spectras/spectrum134.pl
spectral_Data/spectras/spectrum135.pl
spectral_Data/spectras/spectrum136.pl
spectral_Data/spectras/spectrum137.pl
spectral_Data/spectras/spectrum138.pl
spectral_Data/spectras/spectrum139.pl
spectral_Data/spectras/spectrum14.pl
spectral_Data/spectras/spectrum140.pl
spectral_Data/spectras/spectrum141.pl
spectral_Data/spectras/spectrum142.pl
spectral_Data/spectras/spectrum143.pl
spectral_Data/spectras/spectrum144.pl
spectral_Data/spectras/spectrum145.pl
spectral_Data/spectras/spectrum146.pl
spectral_Data/spectras/spectrum147.pl
spectral_Data/spectras/spectrum148.pl
spectral_Data/spectras/spectrum149.pl
spectral_Data/spectras/spectrum15.pl
spectral_Data/spectras/spectrum150.pl
spectral_Data/spectras/spectrum151.pl
spectral_Data/spectras/spectrum152.pl
spectral_Data/spectras/spectrum153.pl
spectral_Data/spectras/spectrum154.pl
spectral_Data/spectras/spectrum155.pl
spectral_Data/spectras/spectrum156.pl
spectral_Data/spectras/spectrum157.pl
spectral_Data/spectras/spectrum158.pl
spectral_Data/spectras/spectrum159.pl
spectral_Data/spectras/spectrum16.pl
spectral_Data/spectras/spectrum160.pl
spectral_Data/spectras/spectrum161.pl
spectral_Data/spectras/spectrum162.pl
spectral_Data/spectras/spectrum163.pl
spectral_Data/spectras/spectrum164.pl
spectral_Data/spectras/spectrum165.pl
spectral_Data/spectras/spectrum166.pl
spectral_Data/spectras/spectrum167.pl
spectral_Data/spectras/spectrum168.pl
spectral_Data/spectras/spectrum169.pl
spectral_Data/spectras/spectrum17.pl
spectral_Data/spectras/spectrum170.pl
spectral_Data/spectras/spectrum171.pl
spectral_Data/spectras/spectrum172.pl
spectral_Data/spectras/spectrum173.pl
spectral_Data/spectras/spectrum174.pl
spectral_Data/spectras/spectrum175.pl
spectral_Data/spectras/spectrum176.pl
spectral_Data/spectras/spectrum177.pl
spectral_Data/spectras/spectrum178.pl
spectral_Data/spectras/spectrum179.pl
spectral_Data/spectras/spectrum18.pl
spectral_Data/spectras/spectrum180.pl
spectral_Data/spectras/spectrum181.pl
spectral_Data/spectras/spectrum182.pl
spectral_Data/spectras/spectrum183.pl
spectral_Data/spectras/spectrum184.pl
spectral_Data/spectras/spectrum185.pl
spectral_Data/spectras/spectrum186.pl
spectral_Data/spectras/spectrum187.pl
spectral_Data/spectras/spectrum188.pl
spectral_Data/spectras/spectrum189.pl
spectral_Data/spectras/spectrum19.pl
spectral_Data/spectras/spectrum190.pl
spectral_Data/spectras/spectrum191.pl
spectral_Data/spectras/spectrum192.pl
spectral_Data/spectras/spectrum193.pl
spectral_Data/spectras/spectrum194.pl
spectral_Data/spectras/spectrum195.pl
spectral_Data/spectras/spectrum196.pl
spectral_Data/spectras/spectrum197.pl
spectral_Data/spectras/spectrum198.pl
spectral_Data/spectras/spectrum199.pl
spectral_Data/spectras/spectrum2.pl
spectral_Data/spectras/spectrum20.pl
spectral_Data/spectras/spectrum200.pl
spectral_Data/spectras/spectrum201.pl
spectral_Data/spectras/spectrum202.pl
spectral_Data/spectras/spectrum203.pl
spectral_Data/spectras/spectrum204.pl
spectral_Data/spectras/spectrum205.pl
spectral_Data/spectras/spectrum206.pl
spectral_Data/spectras/spectrum207.pl
spectral_Data/spectras/spectrum208.pl
spectral_Data/spectras/spectrum209.pl
spectral_Data/spectras/spectrum21.pl
spectral_Data/spectras/spectrum210.pl
spectral_Data/spectras/spectrum211.pl
spectral_Data/spectras/spectrum212.pl
spectral_Data/spectras/spectrum213.pl
spectral_Data/spectras/spectrum214.pl
spectral_Data/spectras/spectrum215.pl
spectral_Data/spectras/spectrum216.pl
spectral_Data/spectras/spectrum217.pl
spectral_Data/spectras/spectrum218.pl
spectral_Data/spectras/spectrum219.pl
spectral_Data/spectras/spectrum22.pl
spectral_Data/spectras/spectrum220.pl
spectral_Data/spectras/spectrum221.pl
spectral_Data/spectras/spectrum222.pl
spectral_Data/spectras/spectrum223.pl
spectral_Data/spectras/spectrum224.pl
spectral_Data/spectras/spectrum225.pl
spectral_Data/spectras/spectrum226.pl
spectral_Data/spectras/spectrum227.pl
spectral_Data/spectras/spectrum228.pl
spectral_Data/spectras/spectrum229.pl
spectral_Data/spectras/spectrum23.pl
spectral_Data/spectras/spectrum230.pl
spectral_Data/spectras/spectrum231.pl
spectral_Data/spectras/spectrum232.pl
spectral_Data/spectras/spectrum233.pl
spectral_Data/spectras/spectrum234.pl
spectral_Data/spectras/spectrum235.pl
spectral_Data/spectras/spectrum236.pl
spectral_Data/spectras/spectrum237.pl
spectral_Data/spectras/spectrum238.pl
spectral_Data/spectras/spectrum239.pl
spectral_Data/spectras/spectrum24.pl
spectral_Data/spectras/spectrum240.pl
spectral_Data/spectras/spectrum241.pl
spectral_Data/spectras/spectrum242.pl
spectral_Data/spectras/spectrum243.pl
spectral_Data/spectras/spectrum244.pl
spectral_Data/spectras/spectrum245.pl
spectral_Data/spectras/spectrum246.pl
spectral_Data/spectras/spectrum247.pl
spectral_Data/spectras/spectrum248.pl
spectral_Data/spectras/spectrum249.pl
spectral_Data/spectras/spectrum25.pl
spectral_Data/spectras/spectrum250.pl
spectral_Data/spectras/spectrum251.pl
spectral_Data/spectras/spectrum252.pl
spectral_Data/spectras/spectrum253.pl
spectral_Data/spectras/spectrum254.pl
spectral_Data/spectras/spectrum255.pl
spectral_Data/spectras/spectrum256.pl
spectral_Data/spectras/spectrum257.pl
spectral_Data/spectras/spectrum258.pl
spectral_Data/spectras/spectrum259.pl
spectral_Data/spectras/spectrum26.pl
spectral_Data/spectras/spectrum260.pl
spectral_Data/spectras/spectrum261.pl
spectral_Data/spectras/spectrum262.pl
spectral_Data/spectras/spectrum263.pl
spectral_Data/spectras/spectrum264.pl
spectral_Data/spectras/spectrum265.pl
spectral_Data/spectras/spectrum266.pl
spectral_Data/spectras/spectrum267.pl
spectral_Data/spectras/spectrum268.pl
spectral_Data/spectras/spectrum269.pl
spectral_Data/spectras/spectrum27.pl
spectral_Data/spectras/spectrum270.pl
spectral_Data/spectras/spectrum271.pl
spectral_Data/spectras/spectrum272.pl
spectral_Data/spectras/spectrum273.pl
spectral_Data/spectras/spectrum274.pl
spectral_Data/spectras/spectrum275.pl
spectral_Data/spectras/spectrum276.pl
spectral_Data/spectras/spectrum277.pl
spectral_Data/spectras/spectrum278.pl
spectral_Data/spectras/spectrum279.pl
spectral_Data/spectras/spectrum28.pl
spectral_Data/spectras/spectrum280.pl
spectral_Data/spectras/spectrum281.pl
spectral_Data/spectras/spectrum282.pl
spectral_Data/spectras/spectrum283.pl
spectral_Data/spectras/spectrum284.pl
spectral_Data/spectras/spectrum285.pl
spectral_Data/spectras/spectrum286.pl
spectral_Data/spectras/spectrum287.pl
spectral_Data/spectras/spectrum288.pl
spectral_Data/spectras/spectrum289.pl
spectral_Data/spectras/spectrum29.pl
spectral_Data/spectras/spectrum290.pl
spectral_Data/spectras/spectrum291.pl
spectral_Data/spectras/spectrum292.pl
spectral_Data/spectras/spectrum293.pl
spectral_Data/spectras/spectrum294.pl
spectral_Data/spectras/spectrum295.pl
spectral_Data/spectras/spectrum296.pl
spectral_Data/spectras/spectrum297.pl
spectral_Data/spectras/spectrum298.pl
spectral_Data/spectras/spectrum299.pl
spectral_Data/spectras/spectrum3.pl
spectral_Data/spectras/spectrum30.pl
spectral_Data/spectras/spectrum300.pl
spectral_Data/spectras/spectrum301.pl
spectral_Data/spectras/spectrum302.pl
spectral_Data/spectras/spectrum303.pl
spectral_Data/spectras/spectrum304.pl
spectral_Data/spectras/spectrum305.pl
spectral_Data/spectras/spectrum306.pl
spectral_Data/spectras/spectrum307.pl
spectral_Data/spectras/spectrum308.pl
spectral_Data/spectras/spectrum309.pl
spectral_Data/spectras/spectrum31.pl
spectral_Data/spectras/spectrum310.pl
spectral_Data/spectras/spectrum311.pl
spectral_Data/spectras/spectrum312.pl
spectral_Data/spectras/spectrum313.pl
spectral_Data/spectras/spectrum314.pl
spectral_Data/spectras/spectrum315.pl
spectral_Data/spectras/spectrum316.pl
spectral_Data/spectras/spectrum317.pl
spectral_Data/spectras/spectrum318.pl
spectral_Data/spectras/spectrum319.pl
spectral_Data/spectras/spectrum32.pl
spectral_Data/spectras/spectrum320.pl
spectral_Data/spectras/spectrum321.pl
spectral_Data/spectras/spectrum322.pl
spectral_Data/spectras/spectrum323.pl
spectral_Data/spectras/spectrum324.pl
spectral_Data/spectras/spectrum325.pl
spectral_Data/spectras/spectrum326.pl
spectral_Data/spectras/spectrum327.pl
spectral_Data/spectras/spectrum328.pl
spectral_Data/spectras/spectrum329.pl
spectral_Data/spectras/spectrum33.pl
spectral_Data/spectras/spectrum330.pl
spectral_Data/spectras/spectrum331.pl
spectral_Data/spectras/spectrum332.pl
spectral_Data/spectras/spectrum333.pl
spectral_Data/spectras/spectrum334.pl
spectral_Data/spectras/spectrum335.pl
spectral_Data/spectras/spectrum336.pl
spectral_Data/spectras/spectrum337.pl
spectral_Data/spectras/spectrum338.pl
spectral_Data/spectras/spectrum339.pl
spectral_Data/spectras/spectrum34.pl
spectral_Data/spectras/spectrum340.pl
spectral_Data/spectras/spectrum341.pl
spectral_Data/spectras/spectrum342.pl
spectral_Data/spectras/spectrum343.pl
spectral_Data/spectras/spectrum344.pl
spectral_Data/spectras/spectrum345.pl
spectral_Data/spectras/spectrum346.pl
spectral_Data/spectras/spectrum347.pl
spectral_Data/spectras/spectrum348.pl
spectral_Data/spectras/spectrum349.pl
spectral_Data/spectras/spectrum35.pl
spectral_Data/spectras/spectrum350.pl
spectral_Data/spectras/spectrum351.pl
spectral_Data/spectras/spectrum352.pl
spectral_Data/spectras/spectrum353.pl
spectral_Data/spectras/spectrum354.pl
spectral_Data/spectras/spectrum355.pl
spectral_Data/spectras/spectrum356.pl
spectral_Data/spectras/spectrum357.pl
spectral_Data/spectras/spectrum358.pl
spectral_Data/spectras/spectrum359.pl
spectral_Data/spectras/spectrum36.pl
spectral_Data/spectras/spectrum360.pl
spectral_Data/spectras/spectrum361.pl
spectral_Data/spectras/spectrum362.pl
spectral_Data/spectras/spectrum363.pl
spectral_Data/spectras/spectrum364.pl
spectral_Data/spectras/spectrum365.pl
spectral_Data/spectras/spectrum366.pl
spectral_Data/spectras/spectrum367.pl
spectral_Data/spectras/spectrum368.pl
spectral_Data/spectras/spectrum369.pl
spectral_Data/spectras/spectrum37.pl
spectral_Data/spectras/spectrum370.pl
spectral_Data/spectras/spectrum371.pl
spectral_Data/spectras/spectrum372.pl
spectral_Data/spectras/spectrum373.pl
spectral_Data/spectras/spectrum374.pl
spectral_Data/spectras/spectrum375.pl
spectral_Data/spectras/spectrum376.pl
spectral_Data/spectras/spectrum377.pl
spectral_Data/spectras/spectrum378.pl
spectral_Data/spectras/spectrum379.pl
spectral_Data/spectras/spectrum38.pl
spectral_Data/spectras/spectrum380.pl
spectral_Data/spectras/spectrum381.pl
spectral_Data/spectras/spectrum382.pl
spectral_Data/spectras/spectrum383.pl
spectral_Data/spectras/spectrum384.pl
spectral_Data/spectras/spectrum385.pl
spectral_Data/spectras/spectrum386.pl
spectral_Data/spectras/spectrum387.pl
spectral_Data/spectras/spectrum388.pl
spectral_Data/spectras/spectrum389.pl
spectral_Data/spectras/spectrum39.pl
spectral_Data/spectras/spectrum390.pl
spectral_Data/spectras/spectrum391.pl
spectral_Data/spectras/spectrum392.pl
spectral_Data/spectras/spectrum393.pl
spectral_Data/spectras/spectrum394.pl
spectral_Data/spectras/spectrum395.pl
spectral_Data/spectras/spectrum396.pl
spectral_Data/spectras/spectrum397.pl
spectral_Data/spectras/spectrum398.pl
spectral_Data/spectras/spectrum399.pl
spectral_Data/spectras/spectrum4.pl
spectral_Data/spectras/spectrum40.pl
spectral_Data/spectras/spectrum400.pl
spectral_Data/spectras/spectrum401.pl
spectral_Data/spectras/spectrum402.pl
spectral_Data/spectras/spectrum403.pl
spectral_Data/spectras/spectrum404.pl
spectral_Data/spectras/spectrum405.pl
spectral_Data/spectras/spectrum406.pl
spectral_Data/spectras/spectrum407.pl
spectral_Data/spectras/spectrum408.pl
spectral_Data/spectras/spectrum409.pl
spectral_Data/spectras/spectrum41.pl
spectral_Data/spectras/spectrum410.pl
spectral_Data/spectras/spectrum411.pl
spectral_Data/spectras/spectrum412.pl
spectral_Data/spectras/spectrum413.pl
spectral_Data/spectras/spectrum414.pl
spectral_Data/spectras/spectrum415.pl
spectral_Data/spectras/spectrum416.pl
spectral_Data/spectras/spectrum417.pl
spectral_Data/spectras/spectrum418.pl
spectral_Data/spectras/spectrum419.pl
spectral_Data/spectras/spectrum42.pl
spectral_Data/spectras/spectrum420.pl
spectral_Data/spectras/spectrum421.pl
spectral_Data/spectras/spectrum422.pl
spectral_Data/spectras/spectrum423.pl
spectral_Data/spectras/spectrum424.pl
spectral_Data/spectras/spectrum425.pl
spectral_Data/spectras/spectrum426.pl
spectral_Data/spectras/spectrum427.pl
spectral_Data/spectras/spectrum428.pl
spectral_Data/spectras/spectrum429.pl
spectral_Data/spectras/spectrum43.pl
spectral_Data/spectras/spectrum430.pl
spectral_Data/spectras/spectrum431.pl
spectral_Data/spectras/spectrum432.pl
spectral_Data/spectras/spectrum433.pl
spectral_Data/spectras/spectrum434.pl
spectral_Data/spectras/spectrum435.pl
spectral_Data/spectras/spectrum436.pl
spectral_Data/spectras/spectrum437.pl
spectral_Data/spectras/spectrum438.pl
spectral_Data/spectras/spectrum439.pl
spectral_Data/spectras/spectrum44.pl
spectral_Data/spectras/spectrum440.pl
spectral_Data/spectras/spectrum441.pl
spectral_Data/spectras/spectrum442.pl
spectral_Data/spectras/spectrum443.pl
spectral_Data/spectras/spectrum444.pl
spectral_Data/spectras/spectrum445.pl
spectral_Data/spectras/spectrum446.pl
spectral_Data/spectras/spectrum447.pl
spectral_Data/spectras/spectrum448.pl
spectral_Data/spectras/spectrum449.pl
spectral_Data/spectras/spectrum45.pl
spectral_Data/spectras/spectrum450.pl
spectral_Data/spectras/spectrum451.pl
spectral_Data/spectras/spectrum452.pl
spectral_Data/spectras/spectrum453.pl
spectral_Data/spectras/spectrum454.pl
spectral_Data/spectras/spectrum455.pl
spectral_Data/spectras/spectrum456.pl
spectral_Data/spectras/spectrum457.pl
spectral_Data/spectras/spectrum458.pl
spectral_Data/spectras/spectrum459.pl
spectral_Data/spectras/spectrum46.pl
spectral_Data/spectras/spectrum460.pl
spectral_Data/spectras/spectrum461.pl
spectral_Data/spectras/spectrum462.pl
spectral_Data/spectras/spectrum463.pl
spectral_Data/spectras/spectrum464.pl
spectral_Data/spectras/spectrum465.pl
spectral_Data/spectras/spectrum466.pl
spectral_Data/spectras/spectrum467.pl
spectral_Data/spectras/spectrum468.pl
spectral_Data/spectras/spectrum469.pl
spectral_Data/spectras/spectrum47.pl
spectral_Data/spectras/spectrum48.pl
spectral_Data/spectras/spectrum49.pl
spectral_Data/spectras/spectrum5.pl
spectral_Data/spectras/spectrum50.pl
spectral_Data/spectras/spectrum51.pl
spectral_Data/spectras/spectrum52.pl
spectral_Data/spectras/spectrum53.pl
spectral_Data/spectras/spectrum54.pl
spectral_Data/spectras/spectrum55.pl
spectral_Data/spectras/spectrum56.pl
spectral_Data/spectras/spectrum57.pl
spectral_Data/spectras/spectrum58.pl
spectral_Data/spectras/spectrum59.pl
spectral_Data/spectras/spectrum6.pl
spectral_Data/spectras/spectrum60.pl
spectral_Data/spectras/spectrum61.pl
spectral_Data/spectras/spectrum62.pl
spectral_Data/spectras/spectrum63.pl
spectral_Data/spectras/spectrum64.pl
spectral_Data/spectras/spectrum65.pl
spectral_Data/spectras/spectrum66.pl
spectral_Data/spectras/spectrum67.pl
spectral_Data/spectras/spectrum68.pl
spectral_Data/spectras/spectrum69.pl
spectral_Data/spectras/spectrum7.pl
spectral_Data/spectras/spectrum70.pl
spectral_Data/spectras/spectrum71.pl
spectral_Data/spectras/spectrum72.pl
spectral_Data/spectras/spectrum73.pl
spectral_Data/spectras/spectrum74.pl
spectral_Data/spectras/spectrum75.pl
spectral_Data/spectras/spectrum76.pl
spectral_Data/spectras/spectrum77.pl
spectral_Data/spectras/spectrum78.pl
spectral_Data/spectras/spectrum79.pl
spectral_Data/spectras/spectrum8.pl
spectral_Data/spectras/spectrum80.pl
spectral_Data/spectras/spectrum81.pl
spectral_Data/spectras/spectrum82.pl
spectral_Data/spectras/spectrum83.pl
spectral_Data/spectras/spectrum84.pl
spectral_Data/spectras/spectrum85.pl
spectral_Data/spectras/spectrum86.pl
spectral_Data/spectras/spectrum87.pl
spectral_Data/spectras/spectrum88.pl
spectral_Data/spectras/spectrum89.pl
spectral_Data/spectras/spectrum9.pl
spectral_Data/spectras/spectrum90.pl
spectral_Data/spectras/spectrum91.pl
spectral_Data/spectras/spectrum92.pl
spectral_Data/spectras/spectrum93.pl
spectral_Data/spectras/spectrum94.pl
spectral_Data/spectras/spectrum95.pl
spectral_Data/spectras/spectrum96.pl
spectral_Data/spectras/spectrum97.pl
spectral_Data/spectras/spectrum98.pl
spectral_Data/spectras/spectrum99.pl
.ipynb_checkpoints/Read_Spectrum_V2-checkpoint.ipynb
machine_learning/.ipynb_checkpoints/first_ml_test-checkpoint.ipynb
spectral_Data/spectras/spectrum470.pl
spectral_Data/spectras/spectrum471.pl
spectral_Data/spectras/spectrum472.pl
spectral_Data/spectras/spectrum473.pl
spectral_Data/spectras/spectrum474.pl
spectral_Data/spectras/spectrum475.pl
spectral_Data/spectras/spectrum476.pl
spectral_Data/spectras/spectrum477.pl
spectral_Data/spectras/spectrum478.pl
spectral_Data/spectras/spectrum479.pl
spectral_Data/spectras/spectrum480.pl
spectral_Data/spectras/spectrum481.pl
spectral_Data/spectras/spectrum482.pl
spectral_Data/spectras/spectrum483.pl
spectral_Data/spectras/spectrum484.pl
spectral_Data/spectras/spectrum485.pl
spectral_Data/spectras/spectrum486.pl
spectral_Data/spectras/spectrum487.pl
spectral_Data/spectras/spectrum488.pl
spectral_Data/spectras/spectrum489.pl
spectral_Data/spectras/spectrum490.pl
spectral_Data/spectras/spectrum491.pl
spectral_Data/spectras/spectrum492.pl
spectral_Data/spectras/spectrum493.pl
spectral_Data/spectras/spectrum494.pl
spectral_Data/spectras/spectrum495.pl
spectral_Data/spectras/spectrum496.pl
spectral_Data/spectras/spectrum497.pl
spectral_Data/spectras/spectrum498.pl
spectral_Data/spectras/spectrum499.pl
spectral_Data/spectras/spectrum500.pl
spectral_Data/spectras/spectrum501.pl
spectral_Data/spectras/spectrum502.pl
spectral_Data/spectras/spectrum503.pl
spectral_Data/spectras/spectrum504.pl
spectral_Data/spectras/spectrum505.pl
spectral_Data/spectras/spectrum506.pl
spectral_Data/spectras/spectrum507.pl
spectral_Data/spectras/spectrum508.pl
spectral_Data/spectras/spectrum509.pl
spectral_Data/spectras/spectrum510.pl
spectral_Data/spectras/spectrum511.pl
spectral_Data/spectras/spectrum512.pl
spectral_Data/spectras/spectrum513.pl
spectral_Data/spectras/spectrum514.pl
spectral_Data/spectras/spectrum515.pl
spectral_Data/spectras/spectrum516.pl
spectral_Data/spectras/spectrum517.pl
spectral_Data/spectras/spectrum518.pl
spectral_Data/spectras/spectrum519.pl
spectral_Data/spectras/spectrum520.pl
spectral_Data/spectras/spectrum521.pl
spectral_Data/spectras/spectrum522.pl
spectral_Data/spectras/spectrum523.pl
spectral_Data/spectras/spectrum524.pl
spectral_Data/spectras/spectrum525.pl
spectral_Data/spectras/spectrum526.pl
spectral_Data/spectras/spectrum527.pl
spectral_Data/spectras/spectrum528.pl
spectral_Data/spectras/spectrum529.pl
spectral_Data/spectras/spectrum530.pl
spectral_Data/spectras/spectrum531.pl
spectral_Data/spectras/spectrum532.pl
spectral_Data/spectras/spectrum533.pl
spectral_Data/spectras/spectrum534.pl
spectral_Data/spectras/spectrum535.pl
spectral_Data/spectras/spectrum536.pl
spectral_Data/spectras/spectrum537.pl
spectral_Data/spectras/spectrum538.pl
spectral_Data/spectras/spectrum539.pl
spectral_Data/spectras/spectrum540.pl
spectral_Data/spectras/spectrum541.pl
spectral_Data/spectras/spectrum542.pl
spectral_Data/spectras/spectrum543.pl
spectral_Data/spectras/spectrum544.pl
spectral_Data/spectras/spectrum545.pl
spectral_Data/spectras/spectrum546.pl
spectral_Data/spectras/spectrum547.pl
spectral_Data/spectras/spectrum548.pl
spectral_Data/spectras/spectrum549.pl
spectral_Data/spectras/spectrum550.pl
spectral_Data/spectras/spectrum551.pl
spectral_Data/spectras/spectrum552.pl
spectral_Data/spectras/spectrum553.pl
spectral_Data/spectras/spectrum554.pl
spectral_Data/spectras/spectrum555.pl
spectral_Data/spectras/spectrum556.pl
spectral_Data/spectras/spectrum557.pl
spectral_Data/spectras/spectrum558.pl
spectral_Data/spectras/spectrum559.pl
spectral_Data/spectras/spectrum560.pl
spectral_Data/spectras/spectrum561.pl
spectral_Data/spectras/spectrum562.pl
spectral_Data/spectras/spectrum563.pl
spectral_Data/spectras/spectrum564.pl
spectral_Data/spectras/spectrum565.pl
spectral_Data/spectras/spectrum566.pl
spectral_Data/spectras/spectrum567.pl
spectral_Data/spectras/spectrum568.pl
spectral_Data/spectras/spectrum569.pl
spectral_Data/spectras/spectrum570.pl
spectral_Data/spectras/spectrum571.pl
spectral_Data/spectras/spectrum572.pl
spectral_Data/spectras/spectrum573.pl
spectral_Data/spectras/spectrum574.pl
spectral_Data/spectras/spectrum575.pl
spectral_Data/spectras/spectrum576.pl
spectral_Data/spectras/spectrum577.pl
spectral_Data/spectras/spectrum578.pl
spectral_Data/spectras/spectrum579.pl
spectral_Data/spectras/spectrum580.pl
spectral_Data/spectras/spectrum581.pl
spectral_Data/spectras/spectrum582.pl
spectral_Data/spectras/spectrum583.pl
spectral_Data/spectras/spectrum584.pl
spectral_Data/spectras/spectrum585.pl
spectral_Data/spectras/spectrum586.pl
spectral_Data/spectras/spectrum587.pl
spectral_Data/spectras/spectrum588.pl
spectral_Data/spectras/spectrum589.pl
spectral_Data/spectras/spectrum590.pl
spectral_Data/spectras/spectrum591.pl
spectral_Data/spectras/spectrum592.pl
spectral_Data/spectras/spectrum593.pl
spectral_Data/spectras/spectrum594.pl
spectral_Data/spectras/spectrum595.pl
spectral_Data/spectras/spectrum596.pl
spectral_Data/spectras/spectrum597.pl
spectral_Data/spectras/spectrum598.pl
spectral_Data/spectras/spectrum599.pl
spectral_Data/spectras/spectrum600.pl
spectral_Data/spectras/spectrum601.pl
spectral_Data/spectras/spectrum602.pl
spectral_Data/spectras/spectrum603.pl
spectral_Data/spectras/spectrum604.pl
spectral_Data/spectras/spectrum605.pl
spectral_Data/spectras/spectrum606.pl
spectral_Data/spectras/spectrum607.pl
spectral_Data/spectras/spectrum608.pl
spectral_Data/spectras/spectrum609.pl
spectral_Data/spectras/spectrum610.pl
spectral_Data/spectras/spectrum611.pl
spectral_Data/spectras/spectrum612.pl
spectral_Data/spectras/spectrum613.pl
spectral_Data/spectras/spectrum614.pl
spectral_Data/spectras/spectrum615.pl
spectral_Data/spectras/spectrum616.pl
spectral_Data/spectras/spectrum617.pl
spectral_Data/spectras/spectrum618.pl
spectral_Data/spectras/spectrum619.pl
spectral_Data/spectras/spectrum620.pl
spectral_Data/spectras/spectrum621.pl
spectral_Data/spectras/spectrum622.pl
spectral_Data/spectras/spectrum623.pl
spectral_Data/spectras/spectrum624.pl
spectral_Data/spectras/spectrum625.pl
spectral_Data/spectras/spectrum626.pl
spectral_Data/spectras/spectrum627.pl
spectral_Data/spectras/spectrum628.pl
spectral_Data/spectras/spectrum629.pl
spectral_Data/spectras/spectrum630.pl
spectral_Data/spectras/spectrum631.pl
spectral_Data/spectras/spectrum632.pl
spectral_Data/spectras/spectrum633.pl
spectral_Data/spectras/spectrum634.pl
spectral_Data/spectras/spectrum635.pl
spectral_Data/spectras/spectrum636.pl
spectral_Data/spectras/spectrum637.pl
spectral_Data/spectras/spectrum638.pl
spectral_Data/spectras/spectrum639.pl
spectral_Data/spectras/spectrum640.pl
spectral_Data/spectras/spectrum641.pl
spectral_Data/spectras/spectrum642.pl
spectral_Data/spectras/spectrum643.pl
spectral_Data/spectras/spectrum644.pl
spectral_Data/spectras/spectrum645.pl
spectral_Data/spectras/spectrum646.pl
spectral_Data/spectras/spectrum647.pl
spectral_Data/spectras/spectrum648.pl
spectral_Data/spectras/spectrum649.pl
spectral_Data/spectras/spectrum650.pl
spectral_Data/spectras/spectrum651.pl
spectral_Data/spectras/spectrum652.pl
spectral_Data/spectras/spectrum653.pl
spectral_Data/spectras/spectrum654.pl
spectral_Data/spectras/spectrum655.pl
spectral_Data/spectras/spectrum656.pl
spectral_Data/spectras/spectrum657.pl
spectral_Data/spectras/spectrum658.pl
spectral_Data/spectras/spectrum659.pl
spectral_Data/spectras/spectrum660.pl
spectral_Data/spectras/spectrum661.pl
spectral_Data/spectras/spectrum662.pl
spectral_Data/spectras/spectrum663.pl
spectral_Data/spectras/spectrum664.pl
spectral_Data/spectras/spectrum665.pl
spectral_Data/spectras/spectrum666.pl
spectral_Data/spectras/spectrum667.pl
spectral_Data/spectras/spectrum668.pl
spectral_Data/spectras/spectrum669.pl
spectral_Data/spectras/spectrum670.pl
spectral_Data/spectras/spectrum671.pl
spectral_Data/spectras/spectrum672.pl
spectral_Data/spectras/spectrum673.pl
spectral_Data/spectras/spectrum674.pl
spectral_Data/spectras/spectrum675.pl
spectral_Data/spectras/spectrum676.pl
spectral_Data/spectras/spectrum677.pl
spectral_Data/spectras/spectrum678.pl
spectral_Data/spectras/spectrum679.pl
spectral_Data/spectras/spectrum680.pl
spectral_Data/spectras/spectrum681.pl
spectral_Data/spectras/spectrum682.pl
spectral_Data/spectras/spectrum683.pl
spectral_Data/spectras/spectrum684.pl
spectral_Data/spectras/spectrum685.pl
spectral_Data/spectras/spectrum686.pl
spectral_Data/spectras/spectrum687.pl
spectral_Data/spectras/spectrum688.pl
spectral_Data/spectras/spectrum689.pl
spectral_Data/spectras/spectrum690.pl
spectral_Data/spectras/spectrum691.pl
spectral_Data/spectras/spectrum692.pl
spectral_Data/spectras/spectrum693.pl
spectral_Data/spectras/spectrum694.pl
spectral_Data/spectras/spectrum695.pl
spectral_Data/spectras/spectrum696.pl
spectral_Data/spectras/spectrum697.pl
spectral_Data/spectras/spectrum698.pl
spectral_Data/spectras/spectrum699.pl
spectral_Data/spectras/spectrum700.pl
spectral_Data/spectras/spectrum701.pl
spectral_Data/spectras/spectrum702.pl
spectral_Data/spectras/spectrum703.pl
spectral_Data/spectras/spectrum704.pl
spectral_Data/spectras/spectrum705.pl
spectral_Data/spectras/spectrum706.pl
spectral_Data/spectras/spectrum707.pl
spectral_Data/spectras/spectrum708.pl
spectral_Data/spectras/spectrum709.pl
spectral_Data/spectras/spectrum710.pl
spectral_Data/spectras/spectrum711.pl
spectral_Data/spectras/spectrum712.pl
spectral_Data/spectras/spectrum713.pl
spectral_Data/spectras/spectrum714.pl
spectral_Data/spectras/spectrum715.pl
spectral_Data/spectras/spectrum716.pl
spectral_Data/spectras/spectrum717.pl
spectral_Data/spectras/spectrum718.pl
spectral_Data/spectras/spectrum719.pl
spectral_Data/spectras/spectrum720.pl
spectral_Data/spectras/spectrum721.pl
spectral_Data/spectras/spectrum722.pl
spectral_Data/spectras/spectrum723.pl
spectral_Data/spectras/spectrum724.pl
spectral_Data/spectras/spectrum725.pl
spectral_Data/spectras/spectrum726.pl
spectral_Data/spectras/spectrum727.pl
spectral_Data/spectras/spectrum728.pl
machine_learning/.ipynb_checkpoints/ML_one_maximum-checkpoint.ipynb
